{% extends "base.html" %}
{% load chat_extras %}

{% block content %}
    <button class="btn btn-primary btn-xs" onclick="location.href='{% url 'manager' %}'">Back to main</button>
    <h3>Select chat room to enter</h3>
    <table border="1">
        <tr>
            <th>Group Name</th>
            <th>Manage</th>
        </tr>
        {% for room in chatgroup_list %}
        <tr>
            <td align="center"><a href={{ chatgroup_urls|get_item:room.id }}>{{ room }}</a></td>
            <td align="center">
                <button class="btn btn-primary btn-xs" onclick="location.href='{% url 'chat' room_id=room.id %}'">Enter chat</button>
                <button class="btn btn-primary btn-xs" onclick="location.href='{% url 'add_user_to_chat' pk=room.id %}'">Manage users</button>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
