{% extends "base.html" %}
{% block content %}
    </br>
    <div ng-controller="chatController">
        <textarea id="chat-log" class="col-sm-8" rows="20"></textarea>
        <textarea id="chat-users" class="col-sm-4" rows="10"></textarea><br/>

        <input id="chat-message-input" type="text" size="100"/><br/>
        <input id="chat-message-submit" class="btn btn-primary btn-xs" type="button" value="Send"/>
        <button class="btn btn-primary btn-xs" onclick="location.href='{% url 'select_chat' %}'">Exit ChatGroup</button>
    </div>
<script>
    let roomName = {{ room_name_json }};
    const chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    let messages = {{ messages|safe }};
    let users = {{ users|safe }};
    document.addEventListener("DOMContentLoaded", function(){
        // display all messeges in the chat-log textarea
        $.each(messages, function(messageKey) {
            const user = messages[messageKey][1];
            const message = messages[messageKey][0];
            const timestamp = messages[messageKey][2];
            document.querySelector('#chat-log').value +=
                timestamp + ' ' + user + '> ' + message + '\n';
        });
        // display all users that have access to the chatGroup
        $.each(users, function(userIndex) {
            document.querySelector('#chat-users').value +=
                users[userIndex]+ '\n';
        });
    });

    chatSocket.onmessage = function(event) {
        // display new message from socket
        const data = JSON.parse(event.data);
        const message = data['message'];
        const user = data['user'];
        const date = data['date'];
        document.querySelector('#chat-log').value +=
            date + ' ' + user + '> ' + message + '\n';
    };
    chatSocket.onclose = function(event) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(event) {
        if (event.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(event) {
        // send message to the socket
        let messageInputDom = document.querySelector('#chat-message-input');
        let message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'user_id': '{{ user.id }}',
        }));

        messageInputDom.value = '';
    };
</script>
{% endblock %}
