{% extends "base.html" %}
{% block content %}
    <button class="btn btn-primary btn-xs" onclick="location.href='{% url 'select_chat' %}'">Exit ChatGroup</button>
    <div>
        <input id="chat-message-submit" class="btn btn-primary btn-xs block" type="button" value="Send"/>
    </div>
    <div>
        <input class="block" id="chat-message-input" type="text" size="100"/>
    </div>

{#    <textarea id="chat-log" class="col-sm-8" rows="20"></textarea>#}
    <ul id="chat-log" class="chat list-unstyled inline"></ul>

    <ul id="chat-users" class="chat list-unstyled inline">
        <li><h5>List of users</h5></li>
    </ul>
<script>
    function isMessageValid(message) {
        return message.trim()
    }

    let roomName = {{ room_name_json }};
    const chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    let messages = {{ messages|safe }};
    let users = {{ users|safe }};
    document.addEventListener("DOMContentLoaded", function(){
        // display all messeges in the chat-log textarea
        $.each(messages, function(messageKey) {
            $('#chat-log').prepend(`<li>${messages[messageKey][2]} <b>${messages[messageKey][1]}</b> <p class='inline speech-bubble'>${messages[messageKey][0]}</p></li>`);
        });
        // display all users that have access to the chatGroup
        $.each(users, function(userIndex) {
            $('#chat-users').append(`<li>${users[userIndex]}</li>`);
        });
    });

    chatSocket.onmessage = function(event) {
        // display new message from socket
        const data = JSON.parse(event.data);
        $('#chat-log').prepend(`<li>${data['date']} <b>${data['user']}</b> <p class='inline speech-bubble'>${data['message']}</p></li>`);
    };
    chatSocket.onclose = function(event) {
        console.error('Chat socket closed unexpectedly');
    };

    {#document.querySelector('#chat-message-input').focus();#}
    document.querySelector('#chat-message-input').onkeyup = function(event) {
        // prevent sending empty messages
        if (isMessageValid(this.value)) {
            if (event.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(event) {
        let messageInputDom = document.querySelector('#chat-message-input');
        let message = messageInputDom.value;
        if (isMessageValid(message)) {
            // send message to the socket
            chatSocket.send(JSON.stringify({
                'message': message,
                'user_id': '{{ user.id }}',
            }));
        }
        messageInputDom.value = '';
    };
</script>
{% endblock %}
