{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <!--angular js CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <!--custom css file-->
    <link rel="stylesheet" href="{% static "chat/styles.css" %}"/>
    <script src="{% static "chat/app/app.js" %}"></script>
    <script src="{% static "chat/app/app.config.js" %}"></script>
    <script src="{% static "chat/app/app.controller.js" %}"></script>
</head>
<body ng-app="chatApp">
    {% if logged %}
        Logged as: {{ logged_user }}
        <input type="button" class="login btn btn-primary btn-xs"
               onclick="location.href='{% url 'logout' %}';"
               value="Logout"/>
    {% else %}
        <input type="button" class="login btn btn-primary btn-xs"
               onclick="location.href='{% url 'login' %}';"
               value="Login"/>

{#        <input type="button" class=".login"#}
{#               onclick="location.href='{% url 'add-user' %}';"#}
{#               value="Create User"/>#}
    {% endif %}
    {% block content %}
    {% endblock %}
</body>

<script>

</script>

