th {
    text-align: center;
}

.inline {
    display: inline-block;
}
.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
    margin: 1px 1px 1px 15px;
    padding: .5em;
}

#chat-log li {
    padding: 10px;
}

#chat-users {
	float: right;
	width: 10%;
	border: 1px solid black;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 1px;
	top: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-bottom: 0;
	margin-top: -8px;
	margin-left: -16px;
}